<div class="timer-wrapper">
  <div class="date-input-wrapper">
    <input type="text" id="datetime-picker" />
    <button type="button" data-start>Start</button>
  </div>
  <div class="timer">
    <p class="field">
      <span class="value" data-days>00</span>
      <span class="label">Days</span>
    </p>
    <p class="field">
      <span class="value" data-hours>00</span>
      <span class="label">Hours</span>
    </p>
    <p class="field">
      <span class="value" data-minutes>00</span>
      <span class="label">Minutes</span>
    </p>
    <p class="field">
      <span class="value" data-seconds>00</span>
      <span class="label">Seconds</span>
    </p>
  </div>
</div>