:root {
  --font-family-primary: 'Montserrat', system-ui, sans-serif;
  --letter-spacing-primary: 0.04em;
  --font-size-primary: 16px;
  --line-height-primary: 1.5;
  --font-weight-primary: 400;
  --text-color-primary: #2e2f42;
  --body-background: #fff;
}